/* style.css */

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

h1, h2 {
  color: #00698f;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #00698f;
}

a:hover {
  color: #00467f;
}

/* Estilos para la sección de centros comerciales */
.centro-comercial {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centro-comercial img {
  width: 30%; /* reducir ancho a la mitad */
  height: 300px; /* fijar alto en 100px */
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 10px; /* agregar borde redondeado */
}

.centro-comercial ul {
  padding: 20px;
}

.centro-comercial li {
  margin-bottom: 15px;
}

.centro-comercial .boton {
  background-color: #00698f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.centro-comercial .boton:hover {
  background-color: #00467f;
}

/* Estilos para el footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 0;
}